@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />
<br />
<br />
<h1>Phodeos! Online app where you can see your all your photos!</h1>








<br />
<br />
<br />
<br />
<form action="paginaweb">
    <center><button class="btn">See Phodeos database</button></center>
</form>
<br />
<form action="proprietati">
    <center><button class="btn">See Phodeos properties</button></center>
</form>